
:root {
    --color-accent: #F8FF51;

    --color-neutral-dark: #414141;
    --color-neutral-medium: #666666;
    --color-neutral-light: #929292;
    --color-neutral-ultralight: #f5f5f5;

    --color-text-light: #ffffff;
    --color-text-dark: #000000;

    --carousel-border-radius: .1em; 
}


body {
 	padding-top: 4rem;
 	padding-bottom: 3em;
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-neutral-ultralight);
}

.navbar {
	padding: 0rem 1rem;
	color: var(--color-text-light) !important;
    background-color: var(--color-neutral-dark) !important;
}

.navbar nav {
	padding: 0;
} 

.navbar-brand {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 150%;
    font-weight: 500;
 	padding: 0rem 1.5rem 0rem .1rem;
 	color: var(--color-text-light) !important;
    background-color: var(--color-neutral-dark) !important;
}

.nav-item {
	margin: 0 .7rem;
}

.nav-link {
	font-family: 'Roboto',sans-serif;
	font-size: 100%;
    font-weight: 400;
    /*padding: .7rem 1rem .5rem 1rem;*/
    padding: 0.7rem 0.5rem;
    margin-top: 0.2rem;
    color: var(--color-text-dark);
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
	border-width: 0 0 0.2rem 0;
	border-style: solid;
	color: var(--color-accent);
	border-color: var(--color-accent);
	/*margin-top: 0.2rem;*/
}

.project-container {
	max-width: 866px;
	margin-right: auto;
	margin-left: auto;

	margin-top: 1em;
 	padding: 1.5rem 2rem 2rem 2rem;
 	text-align: left;
  	background-color: #ffffff;
  	
  	border-style: solid;
  	border-width: 1px;
  	border-radius: .4em;
  	border-color: var(--color-neutral-ultralight);
}

.project-container h1 {
	font-family: 'Roboto Slab', sans-serif;
	color: var(--color-text-dark);
}

.project-container .carousel {
	margin-top: 2.2em;
	background-color: var(--color-neutral-dark);
	border-radius: var(--carousel-border-radius);
}	

.project-description {
	max-width: 31em;
}

.tag-container {
	line-height: 180%;
	margin: 0;

	padding: 0.9rem 0rem;
	background-color: #FFFFFF;
}

.badge {
    display: inline-block;
    padding: .5em .7em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .1rem;
    color: #FFFFFF;
}

.badge-tag {
	background-color: var(--color-neutral-medium);
}

.badge-tool {
	background-color: var(--color-neutral-light);
}

.project-slide {
	width: 100%;
	max-height: 400px;
	margin: 0 auto;

	border-radius: var(--carousel-border-radius);
}

.carousel-control-prev, .carousel-control-next {
	width: 10%;
	top: 89% !important;
	bottom:4% !important;
	opacity: 1 !important;
} 
	
.carousel-control-prev {
	justify-content: left;
	-webkit-justify-content: flex-start;
}

.carousel-control-next {
	justify-content: right;
	-webkit-justify-content: flex-end;
}

.project-container .carousel-control-next-icon {
	background-image: url("../img/ui/arrow-yellow-right.svg");
	width: 40px;
	height: 40px;
}

.project-container .carousel-control-prev-icon {
	background-image: url("../img/ui/arrow-yellow-left.svg");
	width: 40px;
	height: 40px;
}

.project-video-container {
	width: 711px;
	height: 400px;
	margin: 0 auto;
}

.carousel-caption {
	bottom: 4.2%;
	right: 5%;
	left: 5%;
	padding: 0;
	margin: 0;
}

.carousel-caption span, .carousel-caption a {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 0.9rem;
	margin: 0;
	padding: .4rem .7rem;
	margin: 0;
	color: var(--color-text-dark);
	background-color: var(--color-accent);
}

.carousel-caption a:hover {
	text-decoration: none;
}

p a {
	color: var(--color-text-dark);
	background-color: var(--color-accent);
	padding: 0 .2em;
}

p a:hover {
	color: var(--color-text-dark);
	text-decoration: underline;
}

a.download-link {
	font-family: 'Roboto Slab', sans-serif;
	margin: 1em 0;
	padding: .56rem .7rem;
	color: var(--color-text-dark);
	background-color: var(--color-accent);
}

a.download-link:hover {
	text-decoration: underline;
	color: var(--color-text-dark);
/*	text-decoration: none;
	color: var(--color-text-dark);
	border-width: 0;
	border-style: solid;
	border-bottom-width: 2px;*/
} 


/*.project-video-container video {
	margin: 0 auto;
}*/

